
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
    !# hero section
    !#
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{margin: 0;}

ul{
    padding: 0 !important;
    margin: 0 !important;
}

li{list-style: none;}
a{text-decoration: none !important;}

.container{width: 100%; max-width: 1140px !important;}
.section__gap{
    padding: 120px 0;
}
@media screen and (max-width: 991px) {
    .section__gap{padding: 100px 0;}
}

@media screen and (max-width: 575px) {
    .section__gap{padding: 50px 0;}
}

:root{
    --p--primary : #33334D;
    --p--secondary: #2A63BD;
    --p--roboto : 'Roboto', sans-serif;
    --p--poppins :  'Poppins', sans-serif;
    --font-16 : 16px;
    --font-20 : 20px;
}

/* =====hero section css start here===== */

.hero__section{
    font-family: var(--p--roboto);
    background: url(../image/section/banner1.png) rgb(0 0 0 / 28%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 130px;
}

.menu ul li {
    font-size: var(--font-16);
    margin-right: 16px;
}

.menu ul li a{
    color: var(--p--primary);
    font-weight: 500;
}

.menu ul li a:hover{
    color: var(--p--secondary);
}

.menu ul li a.login{
    width: 165px;
    height: 48px;
    line-height: 48px;
    border: 1px solid var(--p--primary);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

.menu ul li a.login:hover{
    background: var(--p--secondary);
    border-color: var(--p--secondary);
    color: #fff;
}

.menubar svg{
    cursor: pointer;
    font-size: 22px;
}

.banner__section{
    height: 84.6vh;
    display: flex;
    align-items: center;
}

.banner__content {
    width: 100%;
    max-width: 750px;
    font-family: var(--p--poppins);
}

.banner__content h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    color: var(--p--primary);
    font-family: var(--p--roboto);
}

.banner__content h1 span{
    color: var(--p--secondary);
}

.banner__content p{
    font-size: var(--font-20);
    line-height: 30px;
    margin: 16px 0 26px;
}

button.applyBtn{
    height: 57px;
    width: 192px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid var(--p--secondary);
    background: var(--p--secondary);
    color: #fff;
}

button.applyBtn:hover{
    background: transparent;
    color: var(--p--secondary);
    /* border: 1px solid var(--p--secondary); */
}


@media screen and (max-width: 991px) {
    .hero__section{
        background-position: right;
    }

    .banner__section{
        height: 82vh;
    }

    .banner__content h1{
        /* font-size: 38px; */
    }

    .banner__content p{
        font-size: 16px;
        margin: 16px 0 20px;
    }

    .banner__content button{
        font-size: 16px;
    }
}

@media screen and (max-width: 424px) {
    .hero__section{
        background-blend-mode: multiply;
    }

    .banner__content h1{
        font-size: 38px;
    }
}
/* =====hero section css end here===== */

/* =====mobile menu css start here===== */
.mobile__menu{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    padding: 40px;
    width: 0;
    opacity: 0;
    overflow: hidden;
    height: 100vh;
    /* transform: scaleX(0);
    transform-origin: left; */
    transition: 0.5s ease-in-out;
}

.open{
    width: 50%;
    opacity: 1;
}

.mobile__menu svg{
    font-size: 26px;
    cursor: pointer;
    color: var(--p--secondary);
}

.mobile__menu ul li{
    margin-bottom: 20px;
}

.mobile__menu ul li a{
    font-size: 26px;
    font-weight: 600;
    color: #333;
}

@media screen and (max-width: 700px) {
    .mobile__menu{
        padding: 25px;
    }

    .open{
        width: 100%;
    }
}
/* =====mobile menu end start here===== */


/* =====bootcamp section css start here===== */
.bootcamp__section{
    background: #f9f9f9;
}

.bootcamp{
    /* background-image: url(../image/section/boot1.png); */
    height: 426px;
    width: 100%;
    max-width: 360px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 34px;
    box-shadow: 4px 10px 20px 0px #0000000A;
}

.bootContent{
    padding: 32px 38px 51px;
    background: #f8feff;
    color: var(--p--primary);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0 0 8px 8px;
    font-family: var(--p--poppins);
}

.bootContent svg{
    font-size: 20px;
}

.bootcamp:hover .bootContent{
    background: var(--p--secondary);
    color: #fff !important;
}

.bootContent h4 {
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    color: #2A63BD;
    margin-bottom: 9px;
}

.bootcamp:hover h4{
    color: #fff;
}

.bootContent p{
    display: flex;
    align-items: center;
}

.bootContent p svg {
    font-weight: 24px;
    margin-right: 10px;
}

.bootContent p span {
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 767px) {
    .bootContent{
        padding: 22px;
    }
}

/* =====bootcamp section css end here===== */


/* =====service section css start here===== */
.service__inner{
    padding: 54px 146px;
    font-family: var(--p--poppins);
    background: #F5F9FA;
}

.service__title h4{
    font-size: 24px;
    line-height: 150%;
    font-family: var(--p--roboto);
    font-weight: 600;
}

.service__title p{
    width: 100%;
    max-width: 593px;
    margin: 8px auto 26px;
    color: #5E5E5E;
}

.formInput{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.service__form form input, .service__form form textarea{
    width: 47%;
    padding: 14px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #d5d5d5;
    color: #33334D;
    margin-bottom: 26px;
}

/*  */
.iti.iti--allow-dropdown{
    width: 47%;
}
input#phone{
    width: 100%;
}

.iti__flag-container{
    height: 44px;
}

/*  */

@media screen and (max-width: 991px) {
    /* .service__inner{
        padding: 54px;
    } */
}

@media screen and (max-width: 767px) {
    .service__inner{
        padding: 37px;
    }
}

@media screen and (max-width: 575px) {
    .formInput{
        display: unset;
    }

    .service__form form input{
        width: 100%;
    }

    .service__form form input{
        margin-bottom: 16px;
        padding-left: 0;
    }

    .iti.iti--allow-dropdown{
        width: 100%;
    }
}

    @media screen and (max-width: 424px) {
        .service__inner{
            padding: 24px;
        }
    }

/* =====service form section css end here===== */


/* =====footer section start here===== */
.footer__section{
    background: #000;
    color: #fff;
    font-family: var(--p--poppins);
}

.footerBox h2 {
    margin-bottom: 22px;
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    font-family: var(--p--roboto);
}

.social{
    width: 162px;
}

.social ul li {
    height: 42px;
    width: 42px;
    line-height: 42px;
    background: #333;
    text-align: center;
    border-radius: 50%;
    margin: 0 12px 20px 0;
}

.social ul li a {
    font-size: 20px;
    color: #fff;
}

.footer__list li{
    font-size: var(--font-16);
    line-height: 26px;
    margin-bottom: 12px;
}

.footer__list li a{
    color: #7a7a7a;
}
/* =====footer section end here===== */




/* ====================================
        landing page start here
========================================*/
.landing__banner{
    /* background-image: url(../image/section/banner2.png);
    background-repeat: no-repeat; */
}

.hellosss{
    /* background-image: url(../image/section/banner2.png);
    height: 100%; */
}

.landing__content {
    /* padding: 86px 0; */
}

.landing__content h2 {
    font-size: 48px;
    line-height: 56px;
    font-family: var(--p--roboto);
}

.landing__content .info {
    margin: 17px 0 40px;
}

.landing__content .info h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    width: 100%;
    max-width: 494px;
    font-family: var(--p--roboto);
    margin-bottom: 16px;
}

.landing__content .info p{
    font-size: var(--font-16);
    font-family: var(--p--poppins);
    line-height: 24px;
    color: var(--p--primary);
    width: 100%;
    max-width: 563px;
}



.session .box {
    text-align: center;
    width: 191px;
    height: 205px;
    background: #f5f5f5;
    margin-right: 11px;
    padding: 35px 32px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 40px;
}

.session .box:hover{
    background: var(--p--secondary);
    color: #fff;
}

.session .box:hover span{
    background: #fff;
    color: var(--p--secondary);
}

.session .box span {
    height: 65px;
    width: 65px;
    display: block;
    margin: auto;
    line-height: 65px;
    background: var(--p--secondary);
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
}

.session .box p {
    font-size: 14px;
    margin: 13px 0 3px;
    font-family: var(--p--poppins);
}

.session .box h4{
    font-size: var(--font-20);
    font-family: var(--p--roboto);
}

@media screen and (max-width: 991px) {
    .session .box{
        padding: 15px;
    }
}

@media screen and (max-width: 767px) {
    .session{
        flex-wrap: wrap;
        justify-content: center;
    }

    .landing__content .applyBtn{
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 575px) {
    .landing__content h2{
        font-size: 35px ;
    }
    .landing__content .info h4{
        font-size: 20px;
    }
}

/* =====program section css start here===== */
.program__section{
    font-family: var(--p--roboto);
    background: #F5F9FA;
}

.program__title h3 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 57px;
}

.program__title span{
    color: var(--p--secondary);
}

.program__box{
    width: 262px;
    height: 247px;
    padding: 47px 22px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    border-bottom: 8px solid var(--p--secondary);
}

.program__box img {
    position: absolute;
    top: -30px;
    left: 30px;
}

.program__title h3 {
    font-size: 32px;
    line-height: 48px;
}

.program__box img {
    position: absolute;
    top: -30px;
    left: 30px;
}

.program__box h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.program__box p {
    font-size: 16px;
    line-height: 24px;
    font-family: var(--p--poppins);
}

.overview__section{
    background-image: url(../image/section/banner3.png);
    background-repeat: no-repeat;
    background-position: right;
}

.overview__inner{
    font-family: var(--p--poppins);
}

.overview__title {
    margin-bottom: 42px;
}

.overview__title h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 9px;
    font-family: var(--p--roboto);
}

.overview__title p {
    width: 100%;
    max-width: 917px;
    margin: auto;
    font-size: 16px;
    color: #868686;
    line-height: 26px;
}

.overview__box {
    width: 100%;
    max-width: 775px;
}

.overview {
    font-size: 14px;
    color: var(--p--primary);
    position: relative;
    height: 90px;
    /* line-height: 90px; */
    padding: 0 30px;
    background: rgba(245, 249, 250, 1);
    border-radius: 10px;
    width: 100%;
    max-width: 345px;
    text-align: center;
    margin-bottom: 26px;

    display: flex;
    align-items: center;
}

.overview p{
    line-height: unset !important;
}

.overview span {
    position: absolute;
    font-size: 30px;
    color: #2a63bd78;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
}
@media screen and (max-width: 575px) {
    .program__title h3{
        font-size: 24px;
    }
}

/* =====program section css end here===== */

/* =====application section start here===== */
.application__section{
    background: #F5F9FA;
}

.application__inner{
    padding: 37px 97px;
    background-color: #fff;
    border-radius: 10px;
    font-family: var(--p--poppins);
}

/* .application.service__form form input{
    width: 100% !important;
} */

.application h4 {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 36px;
    font-family: var(--p--roboto);
}

.application form p{
    font-size: 14px;
    margin-top: 26px;
}

.benifit {
    padding: 16px;
    background: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 26px;
}

.benifit p {
    font-size: var(--font-16);
    font-weight: 400;
    margin-left: 7px;
}

.iti.iti--allow-dropdown {
    width: 100%;
    margin-bottom: 26px;
}

@media screen and (max-width: 767px) {
    .application__inner{
        padding: 37px;
    }

    .flexColumn{
        flex-direction: column-reverse;
    }
}


/* =====application section end here===== */
/* ====================================
        landing page end here
========================================*/



.navbar_section {
    position: absolute;
    width: 100%;
    margin-top: 20px;
}
